h1, p {
    text-align: center;
}

h1 {
    border-bottom: 1px rgb(18, 44, 161) solid;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    height: 20px;
    margin: 10px 0;
}